## Get account info

```php
<?php

$client = new http\Client;
$request = new http\Client\Request;

$request->setRequestUrl('https://api.sirv.com/v2/account');
$request->setRequestMethod('GET');
$request->setHeaders(array(
  'authorization' => 'Bearer BEARER_TOKEN'
));

$client->enqueue($request)->send();
$response = $client->getResponse();

echo $response->getBody();
```

```python
import requests

url = "https://api.sirv.com/v2/account"

payload = ""
headers = {'authorization': 'Bearer BEARER_TOKEN'}

response = requests.request("GET", url, data=payload, headers=headers)

print(response.text)
```

```shell
curl --request GET \
  --url https://api.sirv.com/v2/account \
  --header 'authorization: Bearer BEARER_TOKEN'
```

```javascript--node
var http = require("https");

var options = {
  "method": "GET",
  "hostname": "api.sirv.com",
  "path": "/v2/account",
  "headers": {
    "authorization": "Bearer BEARER_TOKEN"
  }
};

var req = http.request(options, function (res) {
  var chunks = [];

  res.on("data", function (chunk) {
    chunks.push(chunk);
  });

  res.on("end", function () {
    var body = Buffer.concat(chunks);
    console.log(body.toString());
  });
});

req.end();
```

```javascript
var data = null;

var xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("GET", "https://api.sirv.com/v2/account");
xhr.setRequestHeader("authorization", "Bearer BEARER_TOKEN");

xhr.send(data);
```

```java
HttpResponse<String> response = Unirest.get("https://api.sirv.com/v2/account")
  .header("authorization", "Bearer BEARER_TOKEN")
  .asString();
```

```http
GET /v2/account HTTP/1.1
Authorization: Bearer BEARER_TOKEN
Host: api.sirv.com
```

Use this API method to get information about the account, including its CDN URL; account name; additional domains; remote fetching status; date created and more.

### Query Parameters

None

### Response:

Example JSON response:

<div class="center-column"></div>

```json
{
  "dateCreated": "2014-05-09T12:23:16.660Z",
  "alias": "example",
  "fetching": {
    "enabled": false,
    "type": "http",
    "http": {
      "auth": {
        "enabled": false
      },
      "url": "https://domain.com"
    },
    "maxFilesize": 2097152
  },
  "cdnTempURL": "example.sirv.com",
  "cdnURL": "example.magictoolbox.com",
  "aliases": {
    "example2-text": {
      "prefix": "/example2",
      "defaultProfile": "Example-Text"
    },
    "example2": {
      "prefix": "/"
    },
    "example": {
      "prefix": "/",
      "cdn": true,
      "customDomain": "example.magictoolbox.com"
    },
    "example2-jwt": {
      "prefix": "/",
      "cdn": true
    }
  }
}
```
